
@media (min-width: 1024px) {

  .interactive-svg, .background-svg {
    position: fixed;
    bottom: -5vh;
    left: 5%;
    transform: translateX(-50%);
    width: 20vh;   /* Sets the width as 10% of the viewport height */
    height: 20vh;  /* Sets the height as 10% of the viewport height */
    z-index: 1000; /* Ensures it stays above other content */
  }
  
  
  .hidden {
      visibility: hidden;
    }
  
    

}


@media (max-width: 1024px) {
.interactive-svg, .background-svg {
  position: fixed;
  top: -2vh;
  left: 20vw;
  transform: translateX(-50%);
  width: 10vh;   /* Sets the width as 10% of the viewport height */
  height: 10vh;  /* Sets the height as 10% of the viewport height */
  z-index: 1000; /* Ensures it stays above other content */
}


.hidden {
    visibility: hidden;
  }

  

}