.vehicle-selection {
    text-align: center;
    margin-top: 6vh !important;
  }
  
  .search-bar {
    margin: 1vh;
    padding: 1vh 2vw;
    width: 60vw;
    max-width: 400px;
    border: 0.1vh solid #ffffff22;
    border-radius: 24px;

    font-size: 1rem !important;
    color: #ffffffab !important;  
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    height: 20vh;
  }
  
  .carousel-button {
    background-color: transparent;
    border: none;
    font-size: 3vh;
    height: 20vh;
    cursor: pointer;
  }

  .carousel-button .selected {
    filter: none;
    }
  
  .carousel-item {
    margin-top: 3vh;
width: 200px;
height: 160px;
display:flex;
flex-direction: column;
justify-content: flex-end;
  }
  
  .vehicle-button {
    display: flex;
flex-direction: column;
align-items: center;
    marginTop: 3vh;
    padding: 1.5vh 3vw;
    background-color: #f0f0f0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 2vh;
    border: 1px solid #ffffff33;

  }
  
  .vehicle-button.selected {
    box-shadow: inset 0px 0px 20px #ffffff !important; /* Inner shadow */
    color: white;
  }
  
  .vehicle-button:hover {
    background-color: #007bff;
    color: white;
  }
  